<div class="container">


  <form name="input" action="/short_url" method="post">
    Enter a long URL to make tiny: <input type="text" name="full"> <input type="submit" value="Booyah!">
  </form>
  <p><em>Usage: Please include full path including http:// or https://.</em></p>

  <div id="signup_button"><a href='/create'>sign up</a></div>
</div>
