<div class="container">


  <form name="input" action="/users" method="post">
    <p><div class="form_label">Email:</div> <input type="text" name="email"> </p>
    <p><div class="form_label">Password:</div> <input type="password" name="password"></p>
    <p><input type="submit" value="Login"></p>
  </form>
  <p><a href="/create">Create an account</a></p>

  <div id="error"><%= @error_message %></div>

</div>
