<div class="container">
  <h1>Simple URL Shortener, SON!!!!!</h1>

  <h2>Here's your shortned url, son!</h2>
  <p><a id="color_link" href="/<%= @short %>">
    http://localhost:9292/<%= @short %></a>
  </p>
  <p><a href="/"><img id="jkai" src="/jkai.jpg"></a></p>
</div>